svg {
    overflow: hidden;

    g {
        path {
            stroke: black;
            stroke-width: 2;
            fill: none;
        }
    }

    .axisx {
        text {
            text-anchor: middle;

        }

        .title {
            text-align: right;
        }
    }

    .axisy {
        text {
            text-anchor: end;
            alignment-baseline: central;
        }

        .title {
            white-space: nowrap;;
        }

        &.oppositeSide {

            text {
                text-anchor: start;
            }
        }
    }

    .axis {
        line {
            stroke: black;
            stroke-width: 2;
        }

        .axisBtn {
            display: inline-block;
            border: 1px solid #ccc;
            background: #eee;
            width: 14px;
            height: 14px;
            position: relative;
            vertical-align: middle;
            margin-right: 2px;
            cursor: pointer;

            &:hover {
                background: #fff;
            }

            &:active {
                background: #bbb;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 1px;
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 10px solid;
            }
        }

        &.axisy {
            .axisBtn {
                transform: rotate(90deg);
            }
        }

        .background {
            fill: transparent;
        }
    }

    .grid {
        stroke: rgba(0, 0, 0, .1);
        stroke-width: 1;

        &.gridMain {
            stroke-width: 2;
        }
    }

    foreignObject {
        white-space: nowrap;
        min-width: 1px;
        overflow: visible;

        .axis-unit-span::before {
            content: ' ';
        }
    }

    .previewInactive {
        opacity: .3;
    }
}